<div class="MatchModeQuestionScatterBoard is-ready" style="height: 857px; width: 1122px;">
    <div class="MatchModeQuestionScatterTile" style="touch-action: none; z-index: 1; transform: translate(659px, 128px);">
        <div aria-label="If/Else Statement" class="FormattedText notranslate TermText lang-en">If/Else Statement</div>
    </div>
    <div class="MatchModeQuestionScatterTile" style="touch-action: none; z-index: 1; transform: translate(734px, 486px);">
        <div aria-label="If this condition is true, do this, or else (if false) do something else" class="FormattedText notranslate TermText lang-en">If this condition is true, do this, or else (if false) do something else</div>
    </div>
    <div class="MatchModeQuestionScatterTile" style="touch-action: none; z-index: 1; transform: translate(65px, 516px);">
        <div aria-label="10>=18" class="FormattedText notranslate TermText lang-en">10&gt;=18</div>
    </div>
    <div class="MatchModeQuestionScatterTile" style="touch-action: none; z-index: 1; transform: translate(235px, 172px);">
        <div aria-label="Greater than OR Equal to" class="FormattedText notranslate TermText lang-en">Greater than OR Equal to</div>
    </div>
    <div class="MatchModeQuestionScatterTile" style="touch-action: none; z-index: 1; transform: translate(183px, 461px);">
        <div aria-label="Counter Pattern" class="FormattedText notranslate TermText lang-en">Counter Pattern</div>
    </div>
    <div class="MatchModeQuestionScatterTile" style="touch-action: none; z-index: 1; transform: translate(68px, 347px);">
        <div aria-label="Keeps track of increasing or decreasing numbers or movement in your code" class="FormattedText notranslate TermText lang-en">Keeps track of increasing or decreasing numbers or movement in your code</div>
    </div>
    <div class="MatchModeQuestionScatterTile" style="touch-action: none; z-index: 1; transform: translate(125px, 655px);">
        <div aria-label="Boolean Expression" class="FormattedText notranslate TermText lang-en">Boolean Expression</div>
    </div>
    <div class="MatchModeQuestionScatterTile" style="touch-action: none; z-index: 1; transform: translate(555px, 735px);">
        <div aria-label="Evaluates to True or False." class="FormattedText notranslate TermText lang-en">Evaluates to True or False.</div>
    </div>
    <div class="MatchModeQuestionScatterTile" style="touch-action: none; z-index: 1; transform: translate(586px, 134px);">
        <div aria-label="10<=18" class="FormattedText notranslate TermText lang-en">10&lt;=18</div>
    </div>
    <div class="MatchModeQuestionScatterTile" style="touch-action: none; z-index: 1; transform: translate(730px, 652px);">
        <div aria-label="Less than OR Equal to" class="FormattedText notranslate TermText lang-en">Less than OR Equal to</div>
    </div>
    <div class="MatchModeQuestionScatterTile" style="touch-action: none; z-index: 1; transform: translate(402px, 374px);">
        <div aria-label="9<10" class="FormattedText notranslate TermText lang-en">9&lt;10</div>
    </div>
    <div class="MatchModeQuestionScatterTile" style="touch-action: none; z-index: 1; transform: translate(409px, 467px);">
        <div aria-label="Less Than" class="FormattedText notranslate TermText lang-en">Less Than</div>
    </div>
</div>